.dialogue-window {
	display: flex;
	height: 100%;
}

.dialogue-window > .topic-list {
	height: 100%;
	width: 180px;
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
}

.dialogue-window > .topic-list .categories {
	text-align: center;
	padding: 3px;
}

.dialogue-window > .topic-list > input {
	border: 1px solid black;
	border-left: 0;
	border-right: 0;
}

.dialogue-window > .topic-list > form {
	display: flex;
	flex-direction: row;
}

.dialogue-window > .topic-list > form > input[type="text"] {
	flex: 1;
	width: 100%;
}

.dialogue-window > .topic-list .categories button {
	margin: 3px;
}

.dialogue-window > .topic-list .topics {
	overflow: auto;
	overflow-y: scroll;
	flex: 1;
}

.dialogue-window > .topic-list .topics ol {
	list-style: none;
	display: inline-block;
	min-width: 100%;
}

.dialogue-window > .topic-list .topics li {
	padding: 2px;
	cursor: pointer;
}

.dialogue-window > .topic-list .topics li:nth-child(2n) {
	background-color: #f0f0f0;
}

.dialogue-window > .topic-list .topics li:hover {
  background-color: #ccc;
}

.dialogue-window > .topic-list .topics li.active {
  background-color: #ccccff;
}

.dialogue-window > .topics {
	flex: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.dialogue-window > .topics > .info {
	flex: 1;
	overflow: auto;
	padding: 3px;
	user-select: none;
}

.dialogue-window > .topics > .info > table {
	min-width: 100%;
}

.dialogue-window > .topics > .info th {
	text-align: left;
}

.dialogue-window > .topics > .info .filter {
  font-family: monospace;
  white-space: nowrap;
}

.dialogue-window tbody.info > tr:nth-child(4n), .dialogue-window tbody.info > tr:nth-child(4n - 1) {
	background-color: #f0f0f0;
}

.dialogue-window tbody.journal > tr:nth-child(2n) {
	background-color: #f0f0f0;
}

.dialogue-window > .topics > .info tr {
  cursor: pointer;
}

.dialogue-window > .topics > .info tr.selected {
  background-color: #ccccff;
}

.dialogue-window > .topics > .editor {
	padding: 3px;
}

.dialogue-window > .topics > .editor textarea {
	width: 100%;
	resize: vertical;
}

.dialogue-window > .topics > .editor .editor-controls form {
	display: inline-block;
}

.dialogue-window > .topics > .editor .editor-controls .spacer {
	display: inline-block;
	margin: 0 1em;
}

.dialogue-window > .topics > .editor .editor-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dialogue-window > .topics > .editor .editor-row > div {
	max-width: 100%;
}

.dialogue-window > .topics > .editor .editor-row .conditions {
	min-width: 700px;
}

.dialogue-window > .topics > .editor .editor-row .conditions.journal {
	width: 100%;
}

.dialogue-window > .topics > .editor .editor-row .conditions.journal > table {
	width: 100%;
}

.dialogue-window > .topics > .editor .editor-row .conditions input:not([type="checkbox"]), .dialogue-window > .topics > .editor .editor-row .conditions select {
	width: 100%;
}

.dialogue-window > .topics > .editor .editor-row .conditions th {
	text-align: right;
}

.dialogue-window > .topics > .editor .editor-row .script {
	flex: 1;
	min-width: 500px
}

.dialogue-window > .topics > .editor .editor-row .script textarea {
	height: 100%;
}
