html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 12px;
}

ul, ol {
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#content {
	flex: 1;
	overflow: auto;
}

button, input[type="submit"], .btn {
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #efefef;
	padding: 3px;
	cursor: pointer;
	font-size: 1em;
	font-family: inherit;
	display: inline-block;
	color: inherit;
	vertical-align: top;
}

button:hover, input[type="submit"]:hover, .btn:hover, button.active, input[type="submit"].active, .btn.active {
	background-color: #dfdfdf;
}

button[disabled], input[type="submit"][disabled], .btn[disabled] {
	color: #6d6d6d;
	background-color: #efefef;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.file-color {
	height: 12px;
	width: 12px;
	display: inline-block;
	border-radius: 6px;
}

.select-all {
	user-select: all;
}

[hidden] {
	display: none;
}
