#navigation {
	flex: 0;
	border-bottom: 1px solid black;
}

#navigation ul {
	list-style: none;
}

#navigation .nav-item {
	display: inline-block;
}

#navigation .nav-item > a {
	padding: 5px;
	display: inline-block;
	color: #000;
	text-decoration: none;
}

#navigation .nav-item > a:hover, #navigation .nav-item.active > a {
	color: #fff;
	background-color: #000;
}

#navigation .nav-item > button {
	vertical-align: baseline;
	margin-right: 10px;
	min-width: 2em;
}
